WebServices/TodoWCF/TodoWCF/Service References/TodoWCFService/TodoService31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TodoServices.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TodoServices.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTodoItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TodoItem" nillable="true" type="tns:TodoItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTodoItem" nillable="true" type="tns:ArrayOfTodoItem" />
  <xs:complexType name="TodoItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="Done" type="xs:boolean" />
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Notes" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TodoItem" nillable="true" type="tns:TodoItem" />
</xs:schema>