WebServices/TodoWCF/TodoWCF/Service References/TodoWCFService/TodoWCFService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TodoWCFService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://developer.xamarin.com:8081/TodoService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://developer.xamarin.com:8081/TodoService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://developer.xamarin.com:8081/TodoService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TodoServices.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITodoService_GetTodoItems_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTodoItems" />
  </wsdl:message>
  <wsdl:message name="ITodoService_GetTodoItems_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTodoItemsResponse" />
  </wsdl:message>
  <wsdl:message name="ITodoService_CreateTodoItem_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateTodoItem" />
  </wsdl:message>
  <wsdl:message name="ITodoService_CreateTodoItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateTodoItemResponse" />
  </wsdl:message>
  <wsdl:message name="ITodoService_EditTodoItem_InputMessage">
    <wsdl:part name="parameters" element="tns:EditTodoItem" />
  </wsdl:message>
  <wsdl:message name="ITodoService_EditTodoItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditTodoItemResponse" />
  </wsdl:message>
  <wsdl:message name="ITodoService_DeleteTodoItem_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTodoItem" />
  </wsdl:message>
  <wsdl:message name="ITodoService_DeleteTodoItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTodoItemResponse" />
  </wsdl:message>
  <wsdl:portType name="ITodoService">
    <wsdl:operation name="GetTodoItems">
      <wsdl:input wsaw:Action="http://tempuri.org/ITodoService/GetTodoItems" message="tns:ITodoService_GetTodoItems_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITodoService/GetTodoItemsResponse" message="tns:ITodoService_GetTodoItems_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateTodoItem">
      <wsdl:input wsaw:Action="http://tempuri.org/ITodoService/CreateTodoItem" message="tns:ITodoService_CreateTodoItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITodoService/CreateTodoItemResponse" message="tns:ITodoService_CreateTodoItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditTodoItem">
      <wsdl:input wsaw:Action="http://tempuri.org/ITodoService/EditTodoItem" message="tns:ITodoService_EditTodoItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITodoService/EditTodoItemResponse" message="tns:ITodoService_EditTodoItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteTodoItem">
      <wsdl:input wsaw:Action="http://tempuri.org/ITodoService/DeleteTodoItem" message="tns:ITodoService_DeleteTodoItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITodoService/DeleteTodoItemResponse" message="tns:ITodoService_DeleteTodoItem_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITodoService" type="tns:ITodoService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTodoItems">
      <soap:operation soapAction="http://tempuri.org/ITodoService/GetTodoItems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateTodoItem">
      <soap:operation soapAction="http://tempuri.org/ITodoService/CreateTodoItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditTodoItem">
      <soap:operation soapAction="http://tempuri.org/ITodoService/EditTodoItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTodoItem">
      <soap:operation soapAction="http://tempuri.org/ITodoService/DeleteTodoItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TodoWCFService">
    <wsdl:port name="BasicHttpBinding_ITodoService" binding="tns:BasicHttpBinding_ITodoService">
      <soap:address location="http://developer.xamarin.com:8081/TodoService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>