WebServices/TodoWCF/TodoWCF/Service References/TodoWCFService/TodoService32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://developer.xamarin.com:8081/TodoService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TodoServices.Models" />
  <xs:element name="GetTodoItems">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTodoItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TodoServices.Models" minOccurs="0" name="GetTodoItemsResult" nillable="true" type="q1:ArrayOfTodoItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTodoItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TodoServices.Models" minOccurs="0" name="item" nillable="true" type="q2:TodoItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTodoItemResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditTodoItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TodoServices.Models" minOccurs="0" name="item" nillable="true" type="q3:TodoItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditTodoItemResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTodoItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTodoItemResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>